chandrashekr/pipeline/PL_Copy_Blob.json
{
	"name": "PL_Copy_Blob",
	"properties": {
		"activities": [
			{
				"name": "Check Target File",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [
					{
						"name": "PRM_TGT",
						"value": "Test"
					}
				],
				"typeProperties": {
					"dataset": {
						"referenceName": "DS_Target_Blob",
						"type": "DatasetReference",
						"parameters": {
							"TGT_TGT_PRM": "Test"
						}
					},
					"fieldList": [
						"exists"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "Copy data1",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "0.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": false,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "DS_SRC_Blob",
						"type": "DatasetReference",
						"parameters": {
							"SRC": "OrderProcessing.txt"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "DS_Target_Blob",
						"type": "DatasetReference",
						"parameters": {
							"TGT_TGT_PRM": "OrderProcessing.txt"
						}
					}
				]
			},
			{
				"name": "If Condition1",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Check Target File",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@activity('Check Target File').output.exists",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Copy data1_copy1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": false,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobStorageWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "DS_SRC_Blob",
									"type": "DatasetReference",
									"parameters": {
										"SRC": "OrderProcessing.txt"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DS_Target_Blob",
									"type": "DatasetReference",
									"parameters": {
										"TGT_TGT_PRM": "OrderProcessing.txt"
									}
								}
							]
						}
					]
				}
			}
		],
		"annotations": []
	}
}