chandrashekr/pipeline/PL_IncrementalLoad.json
{
	"name": "PL_IncrementalLoad",
	"properties": {
		"activities": [
			{
				"name": "LCK_LastRunDt_TGT",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT max(watermarkvalue) as watermarkvalue FROM [STG_SCLT].[watermarktable]\nwhere tablename = 'orders'",
						"queryTimeout": "00:01:00"
					},
					"dataset": {
						"referenceName": "DS_SQL_DB_SRC",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Load_data_Incremental",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "LCK_LastRunDt_TGT",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "LCK_New_DT_SRC",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "select * FROM [STG_SCLT].[orders] \nwhere insertdatetime > '@{activity('LCK_LastRunDt_TGT').output.firstRow.watermarkvalue}'\nand insertdatetime <'@{activity('LCK_New_DT_SRC').output.firstrow.insertdatetime}'",
							"type": "Expression"
						},
						"queryTimeout": "00:01:00"
					},
					"sink": {
						"type": "AzureSqlSink"
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "OrderID",
									"type": "Int32"
								},
								"sink": {
									"name": "OrderID",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "ProductID",
									"type": "String"
								},
								"sink": {
									"name": "ProductID",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "CustomerID",
									"type": "String"
								},
								"sink": {
									"name": "CustomerID",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "UnitPrice",
									"type": "Decimal"
								},
								"sink": {
									"name": "UnitPrice",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "Quantity",
									"type": "Int32"
								},
								"sink": {
									"name": "Quantity",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "InsertDateTime",
									"type": "DateTime"
								},
								"sink": {
									"name": "InsertDateTime",
									"type": "DateTime"
								}
							}
						]
					}
				},
				"inputs": [
					{
						"referenceName": "DS_SQL_DB_SRC",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "DS_SQL_DB_TGT",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "LCK_New_DT_SRC",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT max(insertdatetime) as insertdatetime FROM [stg_SCLT].[orders]\n",
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "DS_SQL_DB_SRC",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Stored Procedure1",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Load_data_Incremental",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[STG_SCLT].[spSetWatermark]",
					"storedProcedureParameters": {
						"NewTime": {
							"value": "'@{activity('LCK_New_DT_SRC').output.firstrow.insertdatetime}'",
							"type": "DateTime"
						},
						"TableName": {
							"value": "Orders",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_SQL_DB",
					"type": "LinkedServiceReference"
				}
			}
		],
		"annotations": []
	}
}