chandrashekr/pipeline/PL_Move_File.json
{
	"name": "PL_Move_File",
	"properties": {
		"activities": [
			{
				"name": "If Condition1",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Check_File",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [
					{
						"name": "ptm1",
						"value": "test.txt"
					}
				],
				"typeProperties": {
					"expression": {
						"value": "@activity('Check_File').output.exist",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobStorageWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "DS_Source_Blob",
									"type": "DatasetReference",
									"parameters": {
										"DS_SRC_PRM": "OrderProcessing.txt"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DS_Target_Blob",
									"type": "DatasetReference",
									"parameters": {
										"TGT_TGT_PRM": {
											"value": "@activity('Check_File').output.exists",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "Check_File",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [
					{
						"name": "tst",
						"value": "test"
					}
				],
				"typeProperties": {
					"dataset": {
						"referenceName": "DS_Target_Blob",
						"type": "DatasetReference",
						"parameters": {
							"TGT_TGT_PRM": "test.txt"
						}
					},
					"fieldList": [
						"exists"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			}
		],
		"annotations": []
	}
}