chandrashekr/pipeline/PL_Move_File378d5123-df0e-48b9-bb50-565fb629e74e.json
{
	"name": "PL_Move_File378d5123-df0e-48b9-bb50-565fb629e74e",
	"properties": {
		"activities": [
			{
				"name": "Check_File",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [
					{
						"name": "Test",
						"value": "Test"
					}
				],
				"typeProperties": {
					"dataset": {
						"referenceName": "DS_Target_Blob",
						"type": "DatasetReference",
						"parameters": {
							"TGT_TGT_PRM": {
								"value": "@pipeline().Pipeline.exists",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"exists"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "If Condition1",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Check_File",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@activity('CP_DATA').output.exists",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "CP_DATA",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [
								{
									"name": "CP",
									"value": "Text"
								}
							],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": false,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobStorageWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "DS_Source_Blob",
									"type": "DatasetReference",
									"parameters": {
										"DS_SRC_PRM": "OrderProcessing.txt"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DS_Target_Blob",
									"type": "DatasetReference",
									"parameters": {
										"TGT_TGT_PRM": "test"
									}
								}
							]
						}
					]
				}
			}
		],
		"annotations": []
	}
}