pipeline/pipeline1.json
{
	"name": "pipeline1",
	"properties": {
		"activities": [
			{
				"name": "Check TGT File",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [
					{
						"name": "TGTF",
						"value": "Test"
					}
				],
				"typeProperties": {
					"dataset": {
						"referenceName": "DS_BLOB_TGT",
						"type": "DatasetReference",
						"parameters": {
							"FileT": "File1"
						}
					},
					"fieldList": [
						"exists"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "If Condition1",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Check TGT File",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@activity('Check TGT File').output.exists",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Copy Data_copy1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [
								{
									"name": "SRCF",
									"value": "OrderProcessing.txt"
								}
							],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobStorageWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "DS_BLOB_SRC",
									"type": "DatasetReference",
									"parameters": {
										"SRC_File": {
											"value": "@activity('Check TGT File').output.exists",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DS_BLOB_TGT",
									"type": "DatasetReference",
									"parameters": {
										"FileT": {
											"value": "@activity('Check TGT File').output",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"annotations": []
	}
}